In [2]:
def calc_sum(a,b):
    sum = a + b
    print(sum)
  

calc_sum(10,15)

25

In [4]:
def calc_add(a,b):
    add = a + b
    print(add)

calc_add(20,30)

50

In [5]:
calc_add(100,50)

150

In [6]:
def calc_sub(a,b,c):
    sub = a*b*c
    print(sub)

calc_sub(2,3,5)

30

In [9]:
def calc_avg(a,b,c,d):
    sum = a+b+c+d
    avg=sum/4
    print(avg)

calc_avg(40,20,30,50)

35.0

In [11]:
def print_hello():
    print("Utkarsh Yadav")

print_hello()

Utkarsh Yadav

In [13]:
def something():
    print("Utkarsh Yadav")
    print("Ayush Yadav")
    print("Vipul Yadav")
    print("Raj Yadav")

something()

Utkarsh Yadav
Ayush Yadav
Vipul Yadav
Raj Yadav

In [15]:
def divide(a,b):
    div = a/b
    print(div)

divide(10,5)

2.0

In [16]:
def divide(a,b):
    div = a/b
    print(div)

divide(100,2)

50.0

In [17]:
divide(60,6)

10.0

In [22]:
#To make a calculator
def add(a,b,c,d):
    s = a+b+c+d
    print(s)

add(23,5,43,2)

73

In [29]:
def cities():
    list = ["lucknow","mumbai","hyderabad","patna","delhi","noida"]
    print(list)

cities()

['lucknow', 'mumbai', 'hyderabad', 'patna', 'delhi', 'noida']

In [40]:
class Student:
    name = "Utkarsh Yadav"

s1 = Student()
print(s1.name)

Utkarsh Yadav

In [42]:
class Car:
    color = "blue"
    brand = "mercedes"

car1 = Car()
print(car1.color)
print(car1.brand)

blue
mercedes

In [44]:
class Student:
    def __init__(self):
        print("adding new student in database")

s1 = Student()

adding new student in database

In [46]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks
        print("adding new student in Database")

s1 = Student("Utkarsh Yadav", 88)
print(s1.name, s1.marks)

s2 = Student("Vipul Yadav", 90)
print(s2.name, s2.marks)

adding new student in Database
Utkarsh Yadav 88
adding new student in Database
Vipul Yadav 90

In [1]:
class Student:
    college_name = "Goel"
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks
        print("adding new student in Database")

s1 = Student("Utkarsh Yadav", 88)
print(s1.name, s1.marks)

s2 = Student("Vipul Yadav", 90)
print(s2.name, s2.marks)
print(s2.college_name)

adding new student in Database
Utkarsh Yadav 88
adding new student in Database
Vipul Yadav 90
Goel

In [3]:
class Student:
    def welcome(self):
        print("Welcome student to new college")

s1 = Student()
s1.welcome()

Welcome student to new college

In [5]:
 #ABSTRACTION
class Car:
    def __init__(self):
        self.acc = False
        self.brk = False
        self.clutch = False
    
    def start(self):
            self.clutch = True
            self.acc = True
            print("Car Started")

car1 = Car()
car1.start()

Car Started

In [9]:
class Student:
    def __init__(self, name):
        self.name = name

s1 = Student("Utkarsh Yadav")
print(s1.name)

Utkarsh Yadav

In [15]:
#inheritance : when one class derives the property and method to another class
class Car:
    @staticmethod
    def start():
        print("car started")
     
    @staticmethod
    def stop():
        print("car stop")

class ToyotaCar(Car):
    def __init__(self,name):
        self.name = name

car1 = ToyotaCar("fortuner")
car2 = ToyotaCar("prius")

print(car1.start())
print(car2.stop())

car started
None
car stop
None

In [17]:
#Multi level inheritance
class A:
    varA = "welcome to class a"

class B:
    varB = "welcome to class b"

class C(A,B):
    varC = "welcome to clas c"

c1 = C()
print(c1.varC)
print(c1.varB)
print(c1.varA)

welcome to clas c
welcome to class b
welcome to class a